<section layout:decorate="~{layouts/layout}" layout:fragment="content">
    <div>
        <p>List of users</p>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <!--                <td th:each="role : ${user.roles}" th:text="${role}"></td>-->
                <td th:text="${#strings.toString(user.roles)}"></td>
                <td>
                    <form th:action="@{/user/{userId}(userId=${user.id})}">
                        <button class="btn btn-primary" type="submit" th:text="Edit"></button>
                    </form>
                </td>
                <td>
                    <form method="get" th:action="@{/user/{userId}/delete(userId=${user.id})}">
                        <button class="btn btn-primary" type="submit" th:text="Delete"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</section>